Flask==2.2.5
Flask-Login==0.6.2
Flask-WTF==1.1.1
Werkzeug==2.2.3
pandas==2.2.2
scikit-learn==1.3.1
joblib==1.3.2
matplotlib==3.8.1
shap==0.42.1
sqlalchemy==2.0.18
reportlab
numpy==1.26.4
shap
Flask
gunicorn
pandas
scikit-learn
shap
matplotlib
joblib



